body {
  margin: 0;
}

.binary-clock-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: rgb(31, 31, 44);
}

binary-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  border-radius: 24px;

  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.5);

  padding: 20px;

  time {
    &.binary-time {
      display: grid;
      gap: 10px;

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-auto-flow: column;

      justify-content: center;
      align-items: center;

      pip {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;

        background-color: rgb(100, 79, 79);

        border: black 1px solid;
        border-radius: 100vw;

        &.active {
          background-color: rgb(177, 93, 93);
        }

        &.hidden {
          visibility: hidden;
        }
      }
    }

    &.decimal-time {
      display: flex;
      justify-content: center;
      align-items: center;

      color: white;

      margin-top: 20px;
    }
  }
}
