@use "colors" as *;
@use "fonts" as *;
@use "pip" as *;

@mixin time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#clock-container {
  anchor-name: --clock-container;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;

  background-color: $color-page-background;

  border: solid 1px $color-clock-border;
  border-radius: 24px;
  padding: 30px 40px;

  &::before {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -2;

    border-radius: inherit;
    box-shadow: 0px 0px 100px $color-clock-shadow;
  }

  #clock-title {
    a {
      position: absolute;
      top: 10px;
      left: 10px;

      font-size: 1.25rem;

      color: $color-text-light;

      opacity: 0.5;

      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        opacity: 0.75;
      }
    }

    h1 {
      color: $color-text-light;
      font-family: $font-receipt;
      text-align: center;

      margin: 0;
    }
  }
}

#binary-clock {
  @include time-container;

  border-radius: inherit;

  clock-hours,
  clock-minutes,
  clock-seconds {
    display: grid;

    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 10px;

    justify-content: center;
    align-items: center;

    flex: 1;

    pip {
      @include pip;
    }
  }
}

#decimal-clock {
  @include time-container;

  color: $color-text-light;
  font-size: 0.625em;

  clock-hours,
  clock-minutes,
  clock-seconds {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 4px;

    border: solid 1px $color-border-light;
    border-radius: 100vw;
    padding: 8px;

    div {
      display: grid;
      grid-template-areas: "numArea";

      > span {
        grid-area: numArea;
        font-weight: bold;

        opacity: 0.4;

        &.current {
          transition: opacity 0.3s ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}
