$color-page-background: rgb(31, 31, 44);

$color-clock-border: rgba(255, 255, 255, 0.1);
$color-clock-shadow: rgba(81, 94, 214, 0.5);

$color-text-dark: rgb(31, 31, 44);
$color-text-light: rgb(184, 184, 184);

$color-border-light: rgba(255, 255, 255, 0.6);

$color-pip-bg-inactive: rgb(100, 79, 79);
$color-pip-bg-active: rgb(177, 93, 93);
$color-pip-border-active: rgba(165, 132, 132, 0.5);

$color-config-button: rgb(107, 104, 148);
