$color-page-background: rgb(31, 31, 44);

$color-clock-border: rgba(255, 255, 255, 0.3);
$color-clock-shadow: rgba(81, 94, 214, 0.5);

$color-pip-text: rgb(31, 31, 44);
$color-pip-bg-inactive: rgb(100, 79, 79);
$color-pip-bg-active: rgb(177, 93, 93);
$color-pip-border-active: rgba(165, 132, 132, 0.5);

$color-decimal-text: rgb(184, 184, 184);
$color-decimal-border: rgba(255, 255, 255, 0.6);

$color-config-button: rgb(83, 80, 114);
