@use "colors" as *;
@use "fonts" as *;
@use "pip" as *;

@mixin corner-button($width: 36px, $borderRadius: 24px) {
  position: absolute;
  top: 0;
  right: 0;

  width: $width;
  height: $width;

  color: $color-pip-text;

  background-color: $color-config-button;

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5),
    2px 2px 8px rgba(21, 6, 58, 0.5);

  border: none;
  border-radius: 0 $borderRadius;

  opacity: 0.75;

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:hover {
    cursor: pointer;

    transform: scale(1.1);
    opacity: 1;
  }
}

button#toggle-config {
  @include corner-button;
}

// Position the form in the center, no matter the height;
.form-wrapper {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}

form {
  --translation-distance: 195px;

  position: absolute;
  overflow-y: auto;
  z-index: -1;

  right: 0;
  max-height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  color: $color-decimal-text;

  background-color: $color-page-background;
  box-shadow: 0px 0px 10px $color-clock-shadow;

  border: solid 1px $color-clock-border;
  border-radius: 0 12px 12px 0;
  padding: 16px;

  /* Config transition, different when sliding out vs in. */
  @function -config-transition($box-shadow-duration: 0.3s) {
    @return transform 0.3s ease-in-out,
      box-shadow $box-shadow-duration ease-in-out;
  }

  transition: -config-transition();

  &.show {
    box-shadow: 0px 0px 100px $color-clock-shadow;
    transform: translateX(var(--translation-distance));
    transition: -config-transition(0.1s);
  }

  button#close-settings {
    @include corner-button(30px, 12px);
  }

  h2 {
    margin: 0;
    text-align: center;
    font-family: $font-receipt;
    font-size: 1.4rem;
  }

  form-group {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    font-size: 0.875rem;

    .checkbox-wrapper {
      position: relative;
      width: 1.125rem;
      height: 1.125rem;

      border: solid red 1px;
      border-radius: 100vw;

      @include pip(1.125rem, 0.15s);

      // Adds an inner pip icon, but I don't love the visual.
      // Is it necessary for accessibility (e.g. color-blindness)?
      // If so, then the same would be true of the binary pips.
      // &.active::before {
      //   // Font Awesome styling for the checkmark.
      //   content: "\f111";
      //   font-family: "Font Awesome 7 Free";
      //   font-weight: 900;
      //   //

      //   position: absolute;
      //   top: 0.2rem;
      //   left: 0.25rem;

      //   font-size: 0.5rem;
      // }

      input[type="checkbox"] {
        cursor: pointer;
        // Hide the checkbox input.
        opacity: 0;
        margin: 0;

        height: inherit;
        width: inherit;
      }
    }
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;

      color: $color-decimal-text;
      padding: 4px 8px;
      background: none;
      border: 1px solid $color-decimal-text;
      border-radius: 100vw;

      opacity: 0.75;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:hover:not(:disabled) {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
}
