@use "colors" as *;

button#toggle-config {
  position: absolute;
  top: 0;
  right: 0;

  width: 36px;
  height: 36px;

  background-color: rgba(196, 177, 177);

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5),
    2px 2px 8px rgba(21, 6, 58, 0.5);

  border: none;
  border-radius: 0 24px;
}

form {
  $-height: 100px;
  position: absolute;
  z-index: -1;

  top: calc(50% - $-height / 2);
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: $-height;

  color: $color-decimal-text;

  border: solid 1px $color-clock-border;
  border-radius: 0 12px 12px 0;
  padding: 12px;

  transition: transform 0.3s ease-in-out;

  &.show {
    transform: translateX(200px);
  }

  form-group {
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }
}
