@use "clocks";
@use "reset";
@use "form";
@use "media";

@use "colors" as *;
@use "fonts" as *;

body {
  pointer-events: none; // May not be the best solution here.
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;

  width: 100vw;
  height: 100vh;

  background-color: $color-page-background;

  font-family: $font-dogica-pixel;

  // Animate filter when form is on top of clock.
  transition: filter 0.3s ease-in-out;
}

main {
  display: flex;
  align-items: center;
  flex: 1;

  // Push main down a little, to offset footer.
  margin-top: calc(1.625rem / 2); // 26px (default height of footer) / 2.
}

footer {
  flex: 0 0 min-content;

  text-align: center;

  font-size: 0.5rem;
  color: $color-text-light;

  a {
    color: $color-pip-bg-active;
  }
}
