@use "clocks";
@use "reset";
@use "form";

@use "colors" as *;

body {
  pointer-events: none; // May not be the best solution here.
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: $color-page-background;
}

footer {
  position: fixed;
  bottom: 0;

  font-size: 0.7rem;
  color: $color-text-light;

  a {
    color: $color-pip-bg-active;
  }
}
